#jumbotron {
  background-image: url("https://i.pinimg.com/originals/44/bc/d6/44bcd6944b55727e78e2585e36b416da.jpg");
  background-size: cover;
  padding-top: 14.5px;
}

.section {
  margin-top: 14.5px;
  background-image: url("https://i.pinimg.com/originals/44/bc/d6/44bcd6944b55727e78e2585e36b416da.jpg");
  background-size: cover;
  height: 400px;
}

.navbartext {
  color: white
}

.nav-wrapper{
  background-color: black;
}

.navbarlogo {
  float: left;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
